@import 'semantic-ui-css/semantic.min.css';

body {
  padding-top: 20px;
  background-color: rgb(39, 51, 87);
  background-image: linear-gradient(180deg, rgba(39, 51, 87, 1) 0%, rgba(21, 28, 47, 1) 100%);
}
